.formHeader {
  /* La magia de FLEX */
  display: flex;
  justify-content: center;
  align-items: center;

  /* Alto de la barra, en tu caso sería 50px */
  height: 60px;

  /* Color para el demo */
  background-color: #ff6b6b;
}

/*.navArrow2 {
  position: absolute;
  color:#c8d6e5;
  left: 25px;
}
*/
.tituloTab {
  color: #c8d6e5;
}

/*.layout {
  display: grid;
  grid:
    "span12 span12 span12 span12 span12 span12 span12 span12 span12 span12 span12 span12" 1fr
    ". . . . . . . . . . . ." 1fr
    ". . . . . . . . . . . ." 1fr
    ". . . . span1 . . . . . . ." 1fr
    / 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 8px;
}

.span12 { grid-area: span12; }
.span1 { grid-area: span1; }

*/
