<section class="contenedor">
 <div class="span1"  class ="layout" >
    <app-entrada *ngFor="let entrada of ListadoPokemones"
    [entrada]="entrada"
    (click)="MostrarPokemon()"
    ></app-entrada>
    </div>
  <!--<div class="span1" class ="contenedor">3</div>
  <div class="span1"class ="contenedor">4</div>
  <div class="span1"class ="contenedor">5</div>
  <div class="span1"class ="contenedor">6</div>
  <div class="span1"class ="contenedor">7</div>
  <div class="span1"class ="contenedor">8</div>
  <div class="span1"class ="contenedor">9</div>
  <div class="span1"class ="contenedor">10</div>
  <div class="span1"class ="contenedor">11</div>
  <div class="span1"class ="contenedor">12</div>
  <div class="span1"class ="contenedor">13</div>
  <div class="span1"class ="contenedor">14</div>
  <div class="span1"class ="contenedor">15</div>
  <div class="span1"class ="contenedor">16</div>
  <div class="span1"class ="contenedor">17</div>
  <div class="span1"class ="contenedor">18</div>
  <div class="span1"class ="contenedor">19</div>
  <div class="span1"class ="contenedor">20</div>
  <div class="span1"class ="contenedor">21</div>
  <div class="span1"class ="contenedor">22</div>
  <div class="span1"class ="contenedor">23</div>
  <div class="span1"class ="contenedor">24</div>
  <div class="span1"class ="contenedor">25</div>
  <div class="span1"class ="contenedor">26</div>
  <div class="span1"class ="contenedor">27</div>
  <div class="span1"class ="contenedor">28</div>
  <div class="span1"class ="contenedor">29</div>
  <div class="span1"class ="contenedor">30</div>
  <div class="span1"class ="contenedor">31</div>-->

</section>
